<html>
<head>
<style type="text/css">
#content {
	font-family: Arial;
}
</style>
</head>
<body>
<div id="content">
	<form action="/createorg/" method="post"> {% csrf_token %}
		<center>
	
		<h1>SEC General Assembly Meeting Attendance</h1>
		<h2>Enter Name of New Organization:</h2>

		<input type="text" name="name"><br><br>

		<input type="hidden" name="idnum" value="{{ idnum }}">
		<input type="submit" value="Submit"/>	
		<h3><i>Note: You must re-enter your information when you return to the signin page.  Sorry for the inconvienence</i></h3>
		</center>
	</form>

</div>
</body>
</html>
