<html>
<head>
<style type="text/css">
#content {
	font-family: Arial;
}
</style>
</head>
<body>
<div id="content">
	<form action="/new/" method="post"> {% csrf_token %}
		<center>
	
		<h1>SEC General Assembly Meeting Attendance</h1>
		<h2>Enter your information:</h2>

		<strong>VT PID (without @vt.edu): </strong><input type="text" name="pid"><br><br>
		<strong>First Name: </strong><input type="text" name="firstname"><br><br>
		<strong>Last Name: </strong><input type="text" name="lastname"><br><br>
	
		<strong>Organization: </strong>
		<select name="society">
		{% for choice in choices %}
			<option value="{{ choice.name }}">{{ choice.name }}</option>
		{% endfor %}
		</select>
		<a href="/addorg/{{ idnum }}">Add Organization</a>
		<br><br>
		<input type="hidden" name="idnum" value="{{ idnum }}">
		<input type="submit" value="Submit"/>	
		</center>
	</form>
</div>
</body>
</html>
