<form action="signin_submit.php" method="post">
	<center>
	<h1>Please swipe your hokie passport</h1>
	
	<input type="text" name="idnum">
	<br><br>

	<h1>Enter Your Information</h1>

	<strong>VT PID (without @vt.edu): </strong><input type="text" name="pid"><br><br>
	<strong>First Name: </strong><input type="text" name="firstname"><br><br>
	<strong>Last Name: </strong><input type="text" name="lastname"><br><br>
	<strong>How you heard about us: </strong><select><option value="Other">Other</option></select>
	</center>
	

</form>
